*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #fff;
}

/* General */
h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

strong,
button,
.button {
  font-weight: 400;
}

/* Navigation */
nav {
  margin: 0 auto;
  padding: 1em 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  background-color: transparent;
  text-transform: uppercase;
}

nav .nav-item {
  cursor: pointer;
  line-height: 2rem;
  margin: 0 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

nav .nav-item:hover,
nav .nav-item:focus,
nav .nav-item.nav-item-current {
  text-decoration: underline;
}

nav .nav-item:first-child {
  font-weight: 400;
}

@media screen and (min-width: 48em) {
  nav {
    flex-direction: row;
  }

  nav .nav-item:first-child {
    margin-right: auto;
    margin-left: 0;
  }

  nav .nav-item:last-child {
    margin-right: 0;
  }
}

/* Main */
main {
  min-height: 36em;
}

main::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 36em;
  z-index: -1;
  background-color: #f5c518;
  background-image: linear-gradient(135deg, #f5c518, #ffd700);
}

/* Footer */
footer {
  padding: 1em 2em;
  background-color: #fff;
  text-align: center;
}

footer a {
  color: #705805;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #b99208;
  text-decoration: underline;
}

/* Buttons */
.button-wrapper {
  padding: 2em;
  color: #000;
  background-color: white;
  box-shadow: 0 2rem 3rem -1rem rgba(0, 0, 100, 0.3);
}

#dice {
  width: 4rem;
}

@media screen and (min-width: 48em) {
  .button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    bottom: 3rem;
    right: 0;
    width: 125%;
    color: #000;
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .button-wrapper p {
    width: 100%;
    align-self: flex-end;
  }

  #dice {
    order: 3;
    width: 4rem;
  }

  .button-wrapper:hover {
    box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 100, 0.3);
  }
}

.button {
  padding: 1em 2em;
  border: none;
  color: #000;
  background-color: #f5c518;
  text-decoration: none;
  display: inline-block;
}

.button:hover,
.button:focus {
  background-color: #ffd700;
}

/* Movies */
.page-movie article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1em 2em 4em;
}

.page-movie .movie-info {
  padding: 2em 0 0;
  position: relative;
  flex-grow: 1;
}

.page-movie .movie-info h1 {
  font-size: 2em;
  margin: 0 auto 1rem;
  line-height: 1em;
}

.page-movie .movie-info p {
  font-size: 1.2em;
  color: #000;
}

.page-movie .movie-info > p {
  margin-top: 1em;
}

.page-movie .movie-poster {
  width: 100%;
  margin: 0 auto 0;
  height: auto;
  box-shadow: 0 3rem 4em -2rem rgba(0, 0, 100, 0.3);
  background-color: #ccc;
}

@media screen and (min-width: 48em) {
  .page-movie article {
    flex-direction: row;
  }

  .page-movie .movie-info {
    padding: 8em 0 0;
  }

  .page-movie .movie-info h1 {
    font-size: 6.6em;
    position: absolute;
    right: 0;
    white-space: nowrap;
  }

  .page-movie .movie-info > p:first-of-type {
    margin-top: 6.5em;
  }

  .page-movie .movie-poster {
    width: auto;
    height: 36em;
    margin: 6em 2em 0 auto;
    transition-duration: 250ms, 500ms;
    transition-property: transform, box-shadow;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .page-movie .movie-poster:hover {
    transform: scale(1.01);
    box-shadow: 0 3rem 4em -1rem rgba(0, 0, 100, 0.3);
  }
}

/* Index */
body.index main {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

body.index nav .nav-item {
  color: #000;
}

body.index nav .nav-item:first-child {
  text-decoration: underline;
}

body.index h1 {
  margin: 1em 0 1rem;
  font-size: 5em;
  padding: 1rem 2rem;
}

body.index .movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-column: auto;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 0 2rem 2rem;
}

body.index .movies .movie {
  background-color: #fff;
  box-shadow: 0 2rem 3rem -1.5rem rgba(0, 0, 100, 0.1);
  min-width: 12.5em;
}

@media screen and (min-width: 48em) {
  body.index .movies {
    overflow-y: visible;
    overflow-x: visible;
    padding: 0 2rem 5rem;
  }

  body.index .movies .movie {
    transition-duration: 250ms, 500ms;
    transition-property: transform, box-shadow;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 0;
  }

  body.index .movies .movie:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 3rem -1rem rgba(0, 0, 100, 0.2);
  }

  body.index .movies .movie:active {
    transition-duration: 100ms, 250ms;
    transform: scale(1);
  }
}

body.index .movies .movie-info {
  padding: 1em 2em;
}

body.index .movies .movie-info h2 {
  font-size: 1.25em;
}

body.index .movies .movie-info h2 a {
  color: #000;
  text-decoration: none;
}

.dices {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.dices img {
  opacity: 0.5;
  flex-grow: 1;
  max-width: 15.5%;
}

.dices .dice-current {
.dices .dice-current,
.dices .dice-current:hover {
  opacity: 1;
  flex-grow: 2;
  max-width: 22.5%;
}

#movie-picker select {
  padding: 0.25em 0.5em;
}

#movie-picker button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.25em 0.5em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #b99208;
  margin-left: 1em;
  color: #000;
  background-color: transparent;
}

#movie-picker button:hover,
#movie-picker button:focus {
  color: #fff;
  background-color: #b99208;
}

/* Induvidual movies */
#movie-a-quiet-place::before {
  background-color: #434343;
  background-image: linear-gradient(135deg, #000, #434343);
}

#movie-a-quiet-place {
  color: #434343;
}

#movie-deadpool-2::before {
  background-color: #ff0844;
  background-image: linear-gradient(135deg, #ff0844, #ffb199);
}

#movie-deadpool-2 {
  color: #ff0844;
}

#movie-interstellar::before {
  background-color: #3d99be;
  background-image: linear-gradient(135deg, #1e3c72, #2a5298);
}

#movie-interstellar {
  color: #3d99be;
}

@media screen and (min-width: 48em) {
  #movie-a-quiet-place,
  #movie-a-quiet-place p {
    color: #fff;
  }

  #movie-deadpool-2,
  #movie-deadpool-2 p {
    color: #000;
  }

  #movie-interstellar,
  #movie-interstellar p {
    color: #fff;
  }

  #movie-a-quiet-place .button-wrapper p,
  #movie-deadpool-2 .button-wrapper p,
  #movie-interstellar .button-wrapper p {
    color: #000;
  }
}
